@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MonoLisa";
  src: url("../../public/MonoLisa-Regular.otf");
}

* {
  font-family: "MonoLisa";
}

a {
  text-decoration: underline;
  color: rgb(122, 122, 237);
}

a:visited {
  color: slategrey;
}
